.burgerIngredient {
  max-width: 50%;
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
}

.burgerIngredient__item {
  display: block;
  text-decoration: none;
  color: #fff;
  will-change: opacity;
  transition: opacity .3s ease;
}

.burgerIngredient__item:hover {
  opacity: .8;
  text-decoration: none;
}

.burgerIngredient__title {
  margin-top: 0;
  margin-bottom: 0;
}

.burgerIngredient__pict {
  position: relative;
  display: block;
}

.burgerIngredient__img {
  max-height: 120px;
  max-width: 240px;
  display: block;
  margin: 0 auto;
}

.burgerIngredient__price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burgerIngredient__price svg {
  fill: #fff;
}

.burgerIngredient__value {
  font-family: 'Iceland', serif;
  font-weight: 400;
}

.burgerIngredient__name {
  text-align: center;
}

.burgerIngredient__add {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 40px;
  color: #4C4CFF;
}

