{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "prettier"
  ],
  "settings": {
    "babel": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "import/no-unresolved": "error",
    "no-shadow": "off",
    "unicorn/consistent-function-scoping": "off",
    "promise/always-return": "off",
    "react/prop-types": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "react/react-in-jsx-scope": "off",
    "scanjs-rules/identifier_localStorage": "off"
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
