.burgerConstructorItem{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.burgerConstructorItem__drag {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 8px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.burgerConstructorItem__drag svg {
  fill: #fff;
}