.title {
  text-align: left;
}

@media (max-width: 767px) {
  .title {
    font-size: 28px !important;
    line-height: 32px !important;
    margin-top: 0 !important;
    margin-bottom: 8px !important;
    text-align: center;
  }
}
