.profile {
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin: calc(120px + 88px) auto 0;
}

.nav_container {
  width: 100%;
  max-width: 320px;
}

.nav__text {
  margin: 80px 0 0;
  opacity: 0.4;
}

.form {
  display: grid;
  width: 100%;
  max-width: 480px;
  margin-left: 60px;
  row-gap: 24px;
  grid-template-rows: auto;
}

.button_container {
  width: fit-content;
  margin: 0 0 0 auto;
}

.error {
  display: none;
  margin: 0 0 2px 24px;
  color: #e52b1a;
}

.error_active {
  display: block;
}
