.profile {
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin: calc(120px + 88px) auto 0;
}

.nav_container {
  width: 100%;
  max-width: 320px;
}

.nav__text {
  margin: 80px 0 0;
  opacity: 0.4;
}
