.burgerIngredients {
  position: relative;
}

.burgerIngredients__box {
  text-align: left;
  max-height: calc(100vh - 340px);
  min-height: calc(100vh - 340px);
  width: 100%;
  order: 1;
  padding-right: 8px;
}

.burgerIngredients__inner {
  margin-bottom: 40px;
}