.header {
    display: flex;
    justify-content: center;
    background: #1C1C21;
}

.headerContent {
    display: flex;
    align-items: center;
    width: 1280px;
}

.logoItem {
    display: flex;
    flex-grow: 1;
}
