.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #1C1C21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.header__container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header__body {
  display: flex;
  align-items: center;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__btn button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  color: #8585AD;
}

.header__btn button > span{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__btn svg {
  transition: var(--common-transition);
}

.header__btn button:hover svg {
  fill: #fff;
}

.header__btnProfile {
  margin-left: auto;
}

.header__close {
  padding: 0;
}

.header__close {
  border: none;
  background-color: transparent;
  outline: none;
}

.header__close svg {
  fill: #fff;
}

.header__btn svg,
.header__close svg {
  pointer-events: none;
}

.header__close:hover svg,
.header__close:focus svg,
.header__close:active svg {
  fill: #E52B1A;
}

.header__head {
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
}

.header__btnProfile svg:nth-of-type(2),
.header__logo img,
.header__head,
.header__btnTextBurgers {
  display: none;
}

.header__title {
  font-size: 28px;
  line-height: 32px;
}

.header__email{
  font-size: 10px;
}
