.ingredientCard {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 272px;
}

.ingredientCard:hover {
    cursor: pointer;
}

.ingredientName {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 48px;
    text-align: center;
}
